* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(/img/back/pig.jpg);
}

.nav-font {
  font-family: "Rancho", cursive;
}

.game-font, .player-font, button, .credits, .rules {
  font-family: "Rancho", cursive;
}

.overlay-rules, .overlay-credits {
  font-family: "Roboto", sans-serif;
}

.parallax {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
  display: none;
  list-style-type: none;
  position: fixed;
  top: 0%;
  height: 42px;
  width: 90%;
  left: 5%;
  z-index: 10;
  background-color: rgba(166, 76, 68, 0.3);
  border-radius: 10px;
}
.navbar li {
  display: inline-block;
  padding: 10px;
}
.navbar li:hover {
  background-color: rgba(166, 76, 68, 0.3);
  border-radius: 10px;
  height: 42px;
}
.navbar li a {
  text-decoration: none;
  color: #a64c44;
  font-size: 20px;
  padding: 20px;
}

header {
  height: 200px;
  background-color: rgba(166, 76, 68, 0.3);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  margin-top: 10px;
  padding-top: 20px;
}
header .logo {
  font-family: "Rancho", cursive;
  font-size: 100px;
  color: #a64c44;
  text-align: center;
}
header .github, header .twitter {
  position: fixed;
  font-size: 50px;
  right: 80px;
}
header .github {
  top: 15px;
}
header .twitter {
  top: 68px;
}
header a {
  color: #a64c44;
}
header .rules, header .credits {
  position: fixed;
  right: 80px;
  font-size: 30px;
  color: #a64c44;
  cursor: pointer;
}
header .rules {
  top: 128px;
}
header .credits {
  top: 170px;
}

.game {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.game .left, .game .right {
  width: 50%;
  text-align: center;
  height: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding-top: 10px;
}
.game .active {
  background-color: rgba(166, 76, 68, 0.3);
  border-radius: 10px;
}
.game .active .player-0, .game .active .player-1 {
  box-shadow: 0px 0px 0px 2px #a64c44 inset;
  border-radius: 10px;
}

.player-0, .player-1 {
  padding: 10px 0;
  color: #a64c44;
  font-size: 50px;
  font-weight: bold;
  width: 50%;
  margin: auto;
}

.player-0-total-score, .player-1-total-score {
  font-size: 40px;
  position: relative;
  top: 8%;
}

.player-0-round-score, .player-1-round-score {
  font-size: 30px;
  top: 37%;
  position: relative;
  height: 40px;
  margin: auto;
  line-height: 35px;
}

.dice {
  height: 90px;
  width: auto;
  top: 420px;
  position: absolute;
  border: solid 2px rgba(166, 76, 68, 0.3);
  border-radius: 5px;
}

.fas {
  margin-right: 10px;
}

.message {
  position: absolute;
  top: 320px;
  color: #a64c44;
  font-size: 40px;
  display: none;
  border: 2px dotted #a64c44;
  border-radius: 10px;
  padding: 0 20px;
}

.overlay-rules, .overlay-credits {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 70%;
  /* Full width (cover the whole page) */
  height: auto;
  /* Full height (cover the whole page) */
  top: 150px;
  left: 15%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Black background with opacity */
  z-index: 2;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  list-style: inside;
}

button {
  position: absolute;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 10px;
  background: white;
  width: 142px;
}
button:focus {
  outline: none;
}

.btn-new {
  top: 260px;
}

.btn-roll {
  top: 560px;
}

.btn-hold {
  top: 625px;
}

/*# sourceMappingURL=style.css.map */
