@import '../abstracts/variables';

.game {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
    margin-top: 60px;
    .left, .right {
        width: 50%;
        text-align: center;
        height: 500px;
        background-color: $color-white-08;
        border-radius: 10px;
        padding-top: 10px;
    }
    .active {
        background-color: $color-light-pink;
        border-radius: 10px;
        .player-0, .player-1 {
            box-shadow: 0px 0px 0px 2px $color-dark-pink inset;
            border-radius: 10px;
        }
    }
}

.player-0, .player-1 {
    padding: 10px 0;
    color: $color-dark-pink;
    font-size: 50px;
    font-weight: bold;
    width: 50%;
    margin: auto;
}

.player-0-total-score, .player-1-total-score {
    font-size: 40px;
    position: relative;
    top: 8%;

}

.player-0-round-score, .player-1-round-score {
    font-size: 30px;
    top: 37%;
    position: relative;
    height: 40px;
    margin: auto;
    line-height: 35px;
}

.dice {
    height: 90px;
    width: auto;
    top: 300px;
    position: absolute;
    border: solid 2px $color-light-pink;
    border-radius: 5px;
}

.fas {
    margin-right: 10px;
}

.message {
    position: absolute;
    top: 180px;
    color: $color-dark-pink;
    font-size: 30px;
    display: none;
}