button {
    position: absolute;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: white;
    width: 142px;
    &:focus {
        outline: none;
    }
}

 .btn-new {
    top: 90px;
 }

 .btn-roll {
    top: 430px;
 }

 .btn-hold {
   top: 500px;

}