button {
    position: absolute;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    background: white;
    &:focus {
        outline: none;
    }
}

 .btn-new {
    top: 12%;
 }

 .btn-hold {
    top: 54%;

 }

 .btn-roll {
    top: 47%;
 }