button {
    position: absolute;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 10px;
    background: white;
    &:focus {
        outline: none;
    }
}

 .btn-new {
    top: 14%;
 }

 .btn-roll {
    top: 53%;
 }

 .btn-hold {
   top: 63%;

}