@import '../abstracts/variables';


.nav-font {
    font-family: $font-test1;
}

.game-font, .player-font, button, .credits, .rules {
    font-family: $font-test1;
}

.overlay-rules, .overlay-credits {
    font-family: $font-main;
}


